@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Barlow:wght@500;700;900&family=Hanken+Grotesk:wght@500;700;800&display=swap");

body {
  min-height: 100vh;
  background: #ecf2f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 71px;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  padding-bottom: 71px;
}

.grid_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 24px;
}

.box {
  padding-right: 32px;
  box-shadow: 40px 60px 50px -47px rgb(72 85 106 / 25%);
  border-radius: 8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 0;
  padding-top: 26px;
  padding-left: 32px;
  box-sizing: border-box;
  padding-bottom: 32px;
}

.daniel {
  background: #733fc8;
  background-image: url(/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top 0 right 24px;
}

.photo_name {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
}

.daniel_photo {
  border-radius: 50%;
  border: 2px solid #a775f1;
  width: 28px;
}

.name_box {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.daniel_name {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #ffffff;
}

.daniel_proffesion {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}


.header_text_daniel {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 18px;
  width: 263px;
}

.description_text_daniel {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #cfcfcf;
  mix-blend-mode: normal;
  opacity: 0.7;
  margin-top: 40px;
  width: 247px;
}

.jonathan {
  background: #48556a;
}

.jonathan_photo {
  border-radius: 50%;
  width: 28px;
}

.jonathan_name {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #ffffff;
}

.jonathan_proffesion {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.header_text_jonathan {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 18px;
  width: 263px;
}

.description_text_jonathan {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.7;
  margin-top: 16px;
  width: 263px;
}

.jeanette {
  background: #ffffff;
}

.jeanette_photo {
  border-radius: 50%;
  width: 28px;
}

.jeanette_name {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #48556a;
}

.jeanette_proffesion {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  color: #48556a;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.header_text_jeanette {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #48556a;
  width: 263px;
  margin-top: 18px;
}

.description_text_jeanette {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #48556a;
  mix-blend-mode: normal;
  opacity: 0.7;
  width: 263px;
  margin-top: 16px;
}

.patrick {
  background: #19202d;
}

.patrick_photo {
  border-radius: 50%;
  border: 2px solid #a775f1;
  width: 28px;
}

.patrick_name {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #ffffff;
}

.patrick_proffesion {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.header_text_patrick {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ecf2f8;
  margin-top: 18px;
  width: 263px;
}

.description_text_patrick {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  mix-blend-mode: normal;
  opacity: 0.7;
  margin-top: 16px;
  width: 263px;
}

.kirra {
  background: #ffffff;
}

.kirra_photo {
  border-radius: 50%;
  width: 28px;
}

.kirra_name {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 13px;
  color: #48556a;
}

.kirra_proffesion {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 11px;
  color: #48556a;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.header_text_kirra {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #48556a;
  width: 263px;
  margin-top: 18px;
}

.description_text_kirra {
  font-family: "Barlow Semi Condensed";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: #48556a;
  mix-blend-mode: normal;
  opacity: 0.7;
  margin-top: 16px;
  width: 263px;
}

@media screen and (min-width: 1440px) {
  body {
    padding: 165px;
  }

  .grid_box {
    display: grid;
    row-gap: 24px;
    column-gap: 30px;
    grid-template-columns: repeat(4,255px);
    align-items: start;
    width: auto;
    height: auto;
  }

  .daniel {
    grid-column: 1 / 3;
    height: 282px;
    background-position: top 0 right 80px;
  }

  .kirra {
    grid-column-start: 4;
    grid-row: 1 / 3;
    height: 572px;
  }

  .jonathan {
    grid-column-start: 3;
    grid-row-start: 1;
    height: 282px;
  }

  .jeanette {
    grid-column-start: 1;
    grid-row-start: 2;
    height: 266px;
  }

  .patrick {
    grid-column: 2 / 4;
    grid-row-start: 2;
    height: 266px;
  }

  .header_text_daniel {
    width: 476px;
  }

  .description_text_daniel {
    width: 476px;
    margin-top: 16px;
  }
  .header_text_jonathan {
    width: 191px;
  }

  .description_text_jonathan {
    width: 191px;
  }

  .header_text_patrick {
    width: 476px;
  }

  .description_text_patrick {
    width: 476px;
  }

  .description_text_kirra {
    width: 191px;
  }

  .header_text_kirra {
    width: 191px;
  }

  .header_text_jeanette {
    width: 191px;
  }

  .description_text_jeanette {
    width: 191px;
  }


}
